<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Assets Brand</title>
    <script>
        const { url } = require("node:inspector");

        function SaveNewBrand() {
            var BrandName = document.getElementById("txtBName").value;
            var Brand = $("#txtBName").val();
            if (BrandName == "") {
                alert("sorry, you missed to enter brand's name");
                return;
            }
            else {
                //alert("Data Saved DOne")
                $.ajax({
                    type: "POST",
                    url: "/SetupAssetd/SaveNewBrand?BrandName=" + BrandName,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function myfunction(andrew) {
                        alert(andrew);
                    }
                });
            }
        }
    </script>

    <script>
        function EditBrand() {
            var Code = document.getElementById("txtCode").innerHTML;
            var NewBrand = document.getElementById("EditBName").value;

            $.ajax({
                type: "POST",
                url: "/SetupAssetd/EditBrandByCode?Code=" + Code + "&NewBrand=" + NewBrand,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function myfunction(andrew) {
                    alert(andrew);
                }
            })
        }
        function Openedit(Code) {
            console.log(Code);
            $.ajax({
                type: "POST",
                url: "/SetupAssetd/OpenPopupBrand?Code=" + Code,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (json) {
                    document.getElementById("txtCode").innerHTML = Code;
                    document.getElementById("txtName").value = json;
                    $("#BrandNameEditModalCenter").modal('show');

                }
            });

        }
    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-4 col-sm-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#BrandNameCreateModalCenter">Create a new</button>
        </div>
    </div>

    <div class="modal fade" id="BrandNameCreateModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create A New Brand </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control" id="txtBName" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="button" id="btnSave" value="Save" class="btn btn-success" onclick="SaveNewBrand()" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BrandNameEditModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-md-3">Code</label>
                    <label class="col-md-3" id="txtCode"></label>
                </div>
                <div class="row">
                    <label class="col-md-3">Old Name</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="txtName" disabled="disabled" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3">New Name</label>
                    <div class="col-md-3">
                        <input class="form-control" id="EditBName" />
                    </div>
                </div>
               

             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" id="btnSave" value="Save" class="btn btn-success" onclick="EditBrand()" />
            </div>
        </div>
    </div>
    </div>

    <table class="table table-bordered table-hover" style="text-align:center">
        <thead class="bg-dark">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (IEnumerable<OctopaAudioApp.Models.SetupModels.AssetBrand>)ViewData["BrandListData"])
            {
                <tr>
                    <td id="lblCode">@item.Code</td>
                    <td id="lblName">@item.BrandName</td>
                    <td><button type="button" class="btn btn-primary" onclick="Openedit(@item.Code)">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>


</body>
</html>