@model OctopaAudioApp.Models.RegisterViewModel

@{

    ViewData["Title"] = "Index";

}

<h1 style="color:#FD8C00;font-family:'Oswald Regular'">Create New Account</h1>



<form method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <table class="table table-bordered table-striped">

        <tr>

            <td>

                Email

            </td>

            <td>

                <input asp-for="Email" class="form-control" />

                <span asp-validation-for="Email" class="text-danger"></span>

            </td>

        </tr>

        <tr>

            <td>

                User Name

            </td>

            <td>

                <input asp-for="UserName" class="form-control" />

                <span asp-validation-for="UserName" class="text-danger"></span>

            </td>

        </tr>

        <tr>

            <td>

                Password

            </td>

            <td>

                <input asp-for="Password" class="form-control" />

                <span asp-validation-for="Password" class="text-danger"></span>

            </td>

        </tr>

        <tr>

            <td>

                Confirm Password

            </td>

            <td>

                <input asp-for="ConfirmPassword" class="form-control" />

                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </td>

        </tr>

    </table>

    <div style="text-align:center">

        <button type="submit" class="btn btn-primary">Create</button>

    </div>

</form>